<!DOCTYPE html>

<html>

  <head>
    <head>
      <title>Флэшкарточкер</title>
      <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
  </head>

  <body>
    <section id="container">

    <header class="clearfix">
      <h1>Флэшкарточкер</h1>
      <ul class="nav nav-pills">
        <li><a <%= link_to "Все карточки" %></a></li>
        <li><a <%= link_to "Добавить карточку" %></a></li>
      </ul>
    </header>

    <section>
      <p style="font-size: 22px;">
        <%= yield %>
      </p>
    </section>

    </section>
  </body>

</html>

